<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433"
  -->

<configuration>
    <connectionStrings>
        <add name="Database1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <siteMap defaultProvider="XmlSiteMapProvider">
        <providers>
          <add
            name="MainNavigationSiteMap"
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/Web.config"
            />
          <add
            name="Company2SiteMap"
            type="System.Web.XmlSiteMapProvider"
            siteMapFile="~/Whisky/Whisky.sitemap"
            />
        </providers>
      </siteMap>
    </system.web>

</configuration>