body 
{
    font-family: Calibri, Arial, MS Sans Serif;
    font-size: 1em;
}

div#wrapper 
{
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
}

div#header
{
    padding: 10px;
    height: 72px;
}

div#navigation
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 20px;
    padding: 0 10px;
}

div#navigation ul 
{
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

div#navigation ul li 
{
    display: inline;
}

div#body 
{
    padding: 10px;
    margin: 0 auto;
    height: 600px;
}

div#body div#content_main 
{
    float:left;
    border: 1px solid black;
    width: 720px;
    padding: 10px;
}

div#body div#toolbar
{
    float: right;
    border: 1px solid black;
    width: 110px;
    padding: 10px;
}

div#footer 
{
    font-style: italic;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
}

.clearfix:after
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both;
    visibility: hidden;
}

textarea.description 
{
    height: 200px;
    width: 200px;
}