/*****************************************************************************/
/*                              ALLGEMEINES                                  */
/*****************************************************************************/
body 
{
    font-family: Calibri, Arial, MS Sans Serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    background-color: #EFEFEF;
    color: #343434;
}


/* CSS Clearfix */
.clearfix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix { zoom: 1; } /* IE 6 */
*:first-child+html .clearfix { zoom: 1; } /* IE 7 */

/*****************************************************************************/
/*                         HEADER / NAVIGATION                               */
/*****************************************************************************/
div#header_wrapper div#navigation_wrapper
{
    width: 100%;
}

div#header_wrapper
{
    background-color: #D4D4D4;
}

div#header
{
    width: 980px;
    height: 72px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
    margin: 0 auto;
    background-color: #D4D4D4;
}

div#navigation_wrapper
{
    background-color: #FF8400;
}

div#navigation
{
    width: 980px;
    height: 20px;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px 10px;
    background-color: #FF8400;
    color: White;
}

div#navigation ul 
{
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

div#navigation ul li 
{
    display: inline;
}


/*****************************************************************************/
/*                          CONTENT AREA LAYOUT                              */
/*****************************************************************************/
div#wrapper 
{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: #D4D4D4;
    border-top: 0;
}

div#body 
{
    padding: 10px;
}


/*****************************************************************************/
/*                               MAIN CONTENT                                */
/*****************************************************************************/
div#content_main 
{
    float:left;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

div#content_main div.clearfix
{
    padding: 5px;
    margin: 5px;
}

div#content_main div.clearfix span.label 
{
    display: block;
    text-align: left;
    width: 48%;
    float: left;
    border-bottom: 1px dotted black;
}

div#content_main input[type=text],textarea,select,span.show 
{
    width: 48%;
    float: right;
}

div#content_main span.show 
{
    text-align: left;
}

div#content_main span.heading
{
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    float: left;
    border-bottom: 1px solid #343434;
    color: #343434;
    display: block;
    width: 100%;
}

div#content_main textarea 
{
    height: 200px;
}

div#content_main .imgpanel 
{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 160px;
}

div#content_main .select 
{
    max-width: 150px;
    max-height: 150px;
}
/*****************************************************************************/
/*                                 TOOLBAR                                   */
/*****************************************************************************/
div#toolbar
{
    width: 200px;
    border: 1px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    float: right;
    text-align: left;
    font-size: 0.8em;
}


/*****************************************************************************/
/*                                  FOOTER                                   */
/*****************************************************************************/
div#footer 
{
    border-top: 1px solid black;
    padding: 10px;
    font-style: italic;
    text-align: center;
}